<div class="col-md-6 p-2 text-center">

<h1>Bienvenu sur notre site web</h1>
<p>Notre site offre une opportunité d'emploi accessible à toutes les personnes qui possèdent une voiture ou un camion et qui aiment travailler sur la livraison des commandes</p>
 <h3> <img src="../../../assets/voulant.png" height="70" width="70"> <br> UNE TOTALE LIBERTÉ </h3>
 <p>Vous devez respecter les rendez-vous et les horaires et Conduisez quand vous voulez.</p>
 <h3> <img src="../../../assets/85.png" height="70" width="70"> <br> UN REVENU EN + </h3>
  <p>Paiement garanti chaque semaine. Le site prélève un pourcentage sur chaque commande</p><br>
  <br>
  <br>
  <p> Si vous aimez l'offre, choisie l'option</p> <h1> chauffeur </h1><p> et inscrit-vous à nous </p>
  <button  routerLink="/login" type="button" class="btn btn-info">Travaillez avec nous</button>

</div>
